@import '../styles/styles';

.page_title { 
    @include page_title
}

.contact_form { 
    margin: auto; 
    margin-top: 3rem; 
    .form_inputs { 
        @include flex_column; 
        margin: 2rem auto;
        justify-content: center; 
    }
    label { 
        @include sansSerif; 
        font-size: 1rem; 
    }
    @include desktop {
        .form_inputs { 
            max-width: 400px;
        }
    }
}

section { 
    @include bodySections
}

input { 
    height: 2.5rem; 
    border: 1px solid rgba(0,0,0,0);
    border-bottom: 1px solid black
}

textarea { 
    height: 4rem; 
    border: 1px solid rgba(0,0,0,0);
    border-bottom: 1px solid black;
}

.contact_form > form > div > button { 
    background-color: $first-dark; 
    width: 150px; 
    height: 2.5rem; 
    color: white; 
    margin: auto; 
    @include sansSerif; 
    text-transform: uppercase;
    border-radius: 2px; 
    border: 1px solid rgba(0,0,0,0);
    margin-top: 1rem;
    font-size: 1rem;
}

.contact_footer { 
    @include flex_column;
    text-align: right; 
    width: 300px; 
    @include desktop { 
        position: absolute; 
        right: 0; 
        bottom: 0;
    }
}

.contact_footer > a { 
    display: flex;
    flex-direction: row-reverse!important;; 
}