@import '../styles/styles';

.index_section {
    min-height: 60vh; 
    width: 100%;
    border: 2px dashed orange; 
    padding: 10%;
}

.index_section_title {

}

.banner {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content:center; 
}

.landing__greeting {
    font-size: 3rem;
    @include desktop {
        
    }
}

.banner_landing__text {
    line-height: 2rem; 
    width: 90%;
    text-align: center;
    @include desktop {
        width: 70%;
    }
}

.banner_landing__button {
    border-radius: 3rem; 
    height: 2.5rem;
}

.index_about {
    display: flex; 
    flex-direction: column; 
    justify-content: space-between;
    padding: 10%;
   
    @include desktop {
        flex-direction: row;
        align-items: center; 
        align-content: center; 
        div {
         
        } 
        
    }
}

.index_about__imagewrap {
   
    border: 1px solid blue;
    
    display: flex;
    align-items: center;
    justify-content: center;;
    
}

.index_about_image {
    background-color: gray; 
    border-radius: 50%; 
    width: 230px; 
    height: 230px; 
    border: 2px solid purple; 
}

.index_about__textwrap {

   @include desktop {
    width: 50%;
    padding: 2rem;
   }
}

.index_projects__grid {
    display: flex; 
    flex-direction: column; 
    align-items: center;
    div {
        height: 40vh; 
        margin-bottom: 2rem;
    }
    @include desktop {
        display: grid;
        
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 2rem;
        div {
            margin-bottom: 0; 
        }
    }
}

.index_projects__grid__project1 {
    width: 100%; 
    
    background-color: burlywood;
    @include desktop {
        grid-column: 1 / span 2; 
        grid-row: 1/span 1; 
    }
}

.index_projects__grid__project2{
    width: 100%; 
    

    background-color: purple;
    grid-column: 1 / span 1; 
    grid-row: 2/span 1; 
}

.index_projects__grid__project3{
    background-color: purple;
    width: 100%; 
     
    grid-column: 2 / span 1; 
    grid-row: 2/span 1; 
}
.index_notes_container {
    display: flex; 
  
    width: 100%;

}


.index_notes_card {
    display: flex;
    flex-grow: 1; 
    flex-direction: column; 
    justify-content: center;
    align-items: center; 
  
    border: 1px solid blue; 
}

.index_notes_card_image {
    border-radius: 50%; 
    height: 150px; 
    width: 150px; 
    background-color: gray; 
}
.index_notes_card_text{
    margin-top: 1rem;
}
