@import '../styles/styles';

.index_section {
    min-height: 50vh; 
    // border: 2px dashed orange; 
   
    @include desktop {
        padding: 5%;
    }
}

.index_section_title {

}

.banner {
    display: flex;
    flex-direction: column; 
    align-items: left;
    justify-content:left; 

    h1 {
        margin-top: 1rem;
    }
    
    @include desktop {
        align-items: center;
        justify-content:center; 

    }
}

.landing__greeting {
    font-size: 3rem;
    @include desktop {
        
    }
}

.banner_landing__text {
    line-height: 2rem; 
    width: 90%;
    text-align: left;
    @include desktop {
        width: 70%;
        text-align: center;
    }
}

.banner_landing__button {
    border-radius: 3rem; 
    height: 3rem;
    padding: 20px 30px; 
    @include desktop {
       
    }
}


.index_about_image {
    background-color: gray; 
    border-radius: 50%; 
    width: 250px; 
    height: 250px; 
    margin-top: 2rem;
    margin: 0 auto;
    @include desktop {
        position: absolute; 
        top: 150px;
        right: 0; 
        left: 0; 
        bottom: 0; 
    }
}


// .index_projects_header {
//     display: flex; 
//     justify-content: space-between;
//     align-items: baseline
// }

// .index_projects_action_desktop {
//     display: none; 
//     @include desktop {
//         display: block;
//     }
// }

// .index_projects_action_mobile {
//     display: block;
//     text-align: right; 
//     @include desktop {
//         display: none; 
//     }
// }

// .index_projects__grid {
//     display: flex; 
//     flex-direction: column; 
//     align-items: center;
//     div {
//         height: 40vh; 
//         margin-bottom: 2rem;
//         min-height: 300px; 
//     }

//     // .index_projects__grid__project1, 
//     // .index_projects__grid__project2,
//     // .index_projects__grid__project3 {
//     //     height: 40vh; 
//     //     margin-bottom: 2rem;
//     //     min-height: 300px;
//     // }

//     @include desktop {
//         display: grid;
        
//         grid-template-columns: repeat(2, 1fr);
//         grid-template-rows: repeat(2, 1fr);
//         grid-gap: 2rem;
//         div {
//             margin-bottom: 0; 
//         }
//     }
// }

// .projects__grid__title {
// //    text-transform:uppercase;
//     font-size: 2rem;
// }

// .projects__grid__arrow{
//     color: white; 
// }

// .projects__grid__content { 
//     position: absolute;
//     bottom: 4rem;
//     right:2rem;
//     height:3rem!important;
//     min-height: 0!important; 
//     @include flex_column;
//     z-index: 3;
//     color: white;
//     text-align:right;

//     span:nth-child(2){
//         font-size:1rem;
//     }
//     span:nth-child(3){
//         font-size:1rem;
//     }
  
// }



// .index_projects__grid__project1 {
//     width: 100%; 
//     // background-color: burlywood;
//     position: relative; 
   
//     Img { 
//         position: absolute; 
//         width: 100%;
//         height: 100%; 
        
//         object-fit:cover;
//     }

    
//     @include desktop {
//         grid-column: 1 / span 2; 
//         grid-row: 1/span 1; 
//     }
// }

// .index_projects__grid__project2{
//     width: 100%; 
//     // background-color: purple;
//     grid-column: 1 / span 1; 
//     grid-row: 2/span 1; 
//     position: relative; 
   
//     Img { 
//         position: absolute; 
//         width: 100%;
//         height: 100%; 
        
//         object-fit:cover;
//     }

// }

// .index_projects__grid__project3{
//     // background-color: purple;
//     width: 100%; 
     
//     grid-column: 2 / span 1; 
//     grid-row: 2/span 1; 
//     position: relative; 
   
//     Img { 
//         position: absolute; 
//         width: 100%;
//         height: 100%; 
        
//         object-fit:cover;
//     }

// }
.index_notes_container {
    display: flex; 
    width: 100%;
}


.index_notes_card {
    display: flex;
    flex-grow: 1; 
    flex-direction: column; 
    justify-content: center;
    align-items: center; 
  
    border: 1px solid blue; 
}

.index_notes_card_image {
    border-radius: 50%; 
    height: 150px; 
    width: 150px; 
    background-color: gray; 
}
.index_notes_card_text{
    margin-top: 1rem;
}
