@import '../styles/styles';

.index_section {
    min-height: 50vh; 
    // border: 2px dashed orange; 
   
    @include desktop {
        padding: 5%;
    }
}

.index_section_title {

}

.banner {
    display: flex;
    flex-direction: column; 
    align-items: left;
    justify-content:left; 

    h1 {
        margin-top: 1rem;
    }
    
    @include desktop {
        align-items: center;
        justify-content:center; 

    }
}

.landing__greeting {
    font-size: 3rem;
    @include desktop {
        
    }
}

.banner_landing__text {
    line-height: 2rem; 
    width: 90%;
    text-align: left;
    @include desktop {
        width: 70%;
        text-align: center;
    }
}

.banner_landing__button {
    border-radius: 3rem; 
    height: 3rem;
    padding: 20px 30px; 
    @include desktop {
    }
}

.index_about_image {
    background-color: gray; 
    border-radius: 50%; 
    width: 250px; 
    height: 250px; 
    margin-top: 2rem;
    margin: 0 auto;
    @include desktop {
        position: absolute; 
        top: 150px;
        right: 0; 
        left: 0; 
        bottom: 0; 
    }
}

.index_notes_container {
    display: flex; 
    width: 100%;
}


.index_notes_card {
    display: flex;
    flex-grow: 1; 
    flex-direction: column; 
    justify-content: center;
    align-items: center; 
  
    border: 1px solid blue; 
}

.index_notes_card_image {
    border-radius: 50%; 
    height: 150px; 
    width: 150px; 
    background-color: gray; 
}
.index_notes_card_text{
    margin-top: 1rem;
}
