@import '../styles/styles';
.page_title {
    @include page_title
}
.project_tiles_wrapper {
    @include flex_row;
    justify-content: center; 
    flex-wrap: wrap;
    padding: 0 5%; 
    max-width: 1200px; 
    margin: 0 auto; 

    @include desktop {
        justify-content: space-between;
    }
   
}