
@import '../styles/styles';

.page_title {
    @include page_title
}

.resume_wrapper{
    display: block; 
    margin-top: 20px; 
    overflow: hidden; 
    position: relative; 
    width: 100%; 
    height: 125vh;

    margin-bottom: 3rem;
}

.resume_pdf{

    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 75%;
    height: 100%;

    margin: auto;
    
}