@import '../styles/styles';

.cuteLink_wrapper{
    position: relative;
    cursor: pointer;
    @include flex_row;

    &:hover {
        outline: none;
        .linkSpot { 
            opacity: 1;
        }
    }

    &:focus { 
        outline: none; 
        border-bottom: 2px solid $first-dark;
        .linkSpot { 
            opacity: 1;
        }
    }
}

.linkSpot { 
    position: absolute; 
    background-color: $dark-highlight; 
    width: 35px;
    height:35px; 
    border-radius: 50%;
    opacity: 0;
    top: 0;
    bottom: 0;
    right: 0; 
    left: 0;
    margin: auto;
}

.linkText {
    z-index: 3;
}

.cuteLink_wrapper_active {
    position: relative;
    @include flex_row;

    .linkSpot { 
        position: absolute; 
        background-color: $dark-highlight; 
        // mix-blend-mode:difference;
        width: 30px;
        height:30px; 
        border-radius: 50%;
        opacity: 1;
        top: 0;
        bottom: 0;
        right: 0; 
        left: 0;
        margin: auto;
    }
}