@import '../styles/styles';

.header {
    position: relative; 
    height: 100px;
    display: flex; 
    align-items: center; 
    justify-content: space-between;
    font-family: 'Lexend Deca', sans-serif;
    margin-bottom: 1rem; 

    @include desktop {
        
        margin-bottom: 10rem; 
        
    }
}

.header__logo {
    position: absolute; 
    margin-top: 10px;
    left: 1rem;
    font-size: 36px; 
    width: 210px;
    z-index: 5; 
    
    a { 
        @include setBoxShadow;
    }

    a:hover { 
        // @include boxShadowHighlight;
    }
    a:focus { 
        outline: none; 
        border-bottom:2px solid black; 
        // @include boxShadowHighlight;
    }

    @include desktop {
        // grid-column: 1/span 1; 
        // align-self: end;
        left: 3rem; 
    }
}

.logo__link { 
    position: relative; 
    span { 
        z-index: -1;
        width: 80px;
        height: 80px;
        background-color: #e3fc03;
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
        top: -1rem;
        border-radius: 50%;
        display: none; 
    }

    &:hover { 
        span {
            display: block;
        }
    }

    &:focus { 
        span {
            display: block;
        }
    }
}

.header__navlinks {
    @include ul_style;

    position: absolute; 
    top: 1.75rem;

    right: 3rem; 
    margin: 0 auto; 

    width: 400px; 
   
    display: flex;
    justify-content: space-between;
    
    li {
        margin-right: 1rem; 
        display:none; 
        @media (min-width: 1095px){
            display: inline-block;
        }
        @include desktop {
            display:inline-block;
        }
    }

    @include desktop {
        
    }
}

.header__email {
    position: absolute; 
    top: 2.5rem;
    right: 3rem; 

    width: 40px; 
    // height: 40px;
    display: none; 
    @media (min-width: 1095px){
        display: block;
    }
    @include desktop {
        display: block; 
    }
}