@import '../styles/styles';

.header {
    position: relative; 
    height: 100px;
    display: flex; 
    align-items: center; 
    justify-content: space-between;
    font-family: 'Lexend Deca', sans-serif;
    margin-bottom: 1rem; 

    @include desktop {
        
        margin-bottom: 10rem; 
        
    }
}

.header__logo {
    position: absolute; 
    margin-top: 10px;
    left: 1rem;
    font-size: 36px; 
    width: 210px;
    z-index: 5; 
    

    @include desktop {
        // grid-column: 1/span 1; 
        // align-self: end;
        left: 3rem; 
    }
}

.header__navlinks {
    @include ul_style;

    position: absolute; 
    top: 1.75rem;

    right: 3rem; 
    margin: 0 auto; 

    width: 400px; 
   
    display: flex;
    justify-content: space-between;
    
    li {
        margin-right: 1rem; 
        display:none; 
        @media (min-width: 1095px){
            display: inline-block;
        }
        @include desktop {
            display:inline-block;
        }
    }

    @include desktop {
        
    }
}

.header__email {
    position: absolute; 
    top: 2.5rem;
    right: 3rem; 

    width: 40px; 
    // height: 40px;
    display: none; 
    @media (min-width: 1095px){
        display: block;
    }
    @include desktop {
        display: block; 
    }
}