@import '../styles/styles';

.header {
    position: relative; 
    height: 100px;
    display: flex; 
    align-items: center; 
    justify-content: space-between;
    font-family: 'Lexend Deca', sans-serif;
    margin-bottom: 1rem; 

    @include desktop {
        
        margin-bottom: 10rem; 
        
    }
}

.header__logo {
    position: absolute; 
    left: 1rem;
    font-size: 36px; 
    font-family: 'merriweather'
    a {
        color: $first-dark;
    }
    

    @include desktop {
        // grid-column: 1/span 1; 
        // align-self: end;
        left: 3rem; 
    }
}

.header__navlinks {
    @include ul_style;

    position: absolute; 
    top: 3.5rem;
    left: 0; 
    right: 0; 
    margin: 0 auto; 

    width: 400px; 
   
    display: flex;
    justify-content: space-between;
    
    li {
        margin-right: 1rem; 
        display:none; 
        @media (min-width: 1095px){
            display: inline-block;
        }
        @include desktop {
            display:inline-block;
        }
    }

    @include desktop {
        
    }
}

.header__email {
    position: absolute; 
    top: 3.75rem;
    right: 3rem; 

    width: 50px; 
    height: 40px; 
    background-color: purple;
    display: none; 
    @media (min-width: 1095px){
        display: block;
    }
    @include desktop {
        display: block; 
    }
}