@import '../styles/styles';

.layout_wrapper {
  
    @include desktop {
    
    }
}

.main_wrapper {
    width: 90%; 
    border: 1px solid pink; 
    margin: 0 auto; 
    @include desktop {
        width: 80%; 
    }
}