@import '../styles/styles';

.header__menuToggle {
    // text-stroke:2px;
  
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    border-radius: 50%; 
    height: 35px;
    width: 35px;
    position: fixed; 
    z-index: 4; 
    top: 2rem; 
    right: 2rem; 
    box-sizing:border-box; 
    // background-color: black; 
    display: flex; 
    cursor: pointer;

    @media (min-width: 1095px){
        display: none;
    }

    @include desktop {
        display: none; 
    }
}

.x {
    // height: 2px; 
    // width: 31px; 
    // background-color: $first-dark;
    margin: 0 auto;
}

.x1 {
    // transform: rotate(90deg);
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 13px solid #fff;
    margin-top: 12px;
}

.x2 {
    height: 3px; 
    background-color: black; 
    width: 60%; 
    margin: auto; 
}

