@import '../styles/styles';

.socialMenu {
    list-style: none; 
    display: none;
    @include desktop {
        display: block; 
        position: fixed; 
        left: 30px; 
        top: 50vh;
    }
}

.socialMenu__item {
    border-radius: 50%; 
    margin-bottom: 50px; 
}

.social_icons {
  width: 28px;
  transition: all .15s ease-in-out; 
}

.social_icons:hover {
    transform: scale(1.1)
}
